In [90]:
import pandas as pd

In [133]:
PlayersData = pd.read_csv('/content/PlayersData.csv')
PlayersData

                        Player  Gls  Ast    xG   xA Season
0                   Bernd Leno    0    0   0.0  0.0  20/21
1                  Bukayo Saka    5    3   6.9  4.7  20/21
2                 Granit Xhaka    1    2   0.8  1.6  20/21
3                  Rob Holding    0    1   1.1  0.2  20/21
4    Pierre-Emerick Aubameyang   10    3  10.6  2.8  20/21
..                         ...  ...  ...   ...  ...    ...
627                  Dele Alli    0    1   1.3  0.9  20/21
628            Japhet Tanganga    0    0   0.2  0.0  20/21
629                Érik Lamela    1    0   1.4  0.9  20/21
630            Carlos Vinícius    1    0   1.4  0.1  20/21
631              Dane Scarlett    0    0   0.0  0.0  20/21

[632 rows x 6 columns]

In [131]:
df = PlayersData.loc[PlayersData['Player'] == 'Bernd Leno']
df1 = PlayersData.loc[PlayersData['Player'] == 'Kieran Tierney']
df = df.append(df1)
df = df.reset_index()
df = df.drop(['index'], axis=1)
uni_player2 = df['Player'].unique()
seasonsUni = PlayersData['Season'].unique()
df2 = df.loc[df['Player'] == uni_player2[0]]


for i in uni_player2:
  temp = df.loc[df['Player'] == i]
  if ((temp['Season'].isin(['17/18']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'17/18'}
    df = df.append(d,ignore_index=True)
  if ((temp['Season'].isin(['18/19']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'18/19'}
    df = df.append(d,ignore_index=True)
  if ((temp['Season'].isin(['19/20']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'19/20'}
    df = df.append(d,ignore_index=True)
  if ((temp['Season'].isin(['20/21']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'20/21'}
    df = df.append(d,ignore_index=True)

print(df)
#df2['Season'].isin(['20/21']).any()
#df2['Season'].isin(['17/18']).any()

           Player  Gls  Ast   xG   xA Season
0      Bernd Leno    0    0  0.0  0.0  20/21
1      Bernd Leno    0    0  0.0  0.0  19/20
2      Bernd Leno    0    0  0.0  0.0  18/19
3  Kieran Tierney    1    3  0.4  4.1  20/21
4  Kieran Tierney    1    1  0.3  1.1  19/20
5      Bernd Leno    0    0  0.0  0.0  17/18
6  Kieran Tierney    0    0  0.0  0.0  17/18
7  Kieran Tierney    0    0  0.0  0.0  18/19

In [135]:
uni_player = PlayersData['Player'].unique()
for i in uni_player:
  temp = PlayersData.loc[PlayersData['Player'] == i]
  if ((temp['Season'].isin(['17/18']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'17/18'}
    PlayersData = PlayersData.append(d,ignore_index=True)
  if ((temp['Season'].isin(['18/19']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'18/19'}
    PlayersData = PlayersData.append(d,ignore_index=True)
  if ((temp['Season'].isin(['19/20']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'19/20'}
    PlayersData = PlayersData.append(d,ignore_index=True)
  if ((temp['Season'].isin(['20/21']).any()) == False):
    d = {'Player':i, 'Gls':0, 'Ast':0,'xG':0,'xA':0,'Season':'20/21'}
    PlayersData = PlayersData.append(d,ignore_index=True)




PlayersData.loc[PlayersData['Player'] == 'Bukayo Saka']

          Player  Gls  Ast   xG   xA Season
1    Bukayo Saka    5    3  6.9  4.7  20/21
35   Bukayo Saka    1    5  1.3  3.5  19/20
82   Bukayo Saka    0    0  0.0  0.0  18/19
633  Bukayo Saka    0    0  0.0  0.0  17/18

In [137]:
PlayersData.loc[PlayersData['Player'] == 'Thomas Partey']

            Player  Gls  Ast   xG   xA Season
9    Thomas Partey    0    2  1.3  1.0  20/21
639  Thomas Partey    0    0  0.0  0.0  17/18
640  Thomas Partey    0    0  0.0  0.0  18/19
641  Thomas Partey    0    0  0.0  0.0  19/20

In [139]:
PlayersData.to_csv(r'/content/PlayersDataFIX.csv', index = False)